- let pageTitle = 'Clock'
doctype html
html(lang="en")
    head
        title= pageTitle
        link(rel="stylesheet" href="sass/main.css")

    body
        .container
            <!--    Analog clock start -->
            .clock
                .circle(style="--clr:#04fc43")#sc
                    i
                .circle.circle2(style="--clr:#fee800")#mn
                    i
                .circle.circle3(style="--clr:#ff2972")#hr
                    i

                span(style="--i:1;")
                    b 1
                span(style="--i:2;")
                    b 2
                span(style="--i:3;")
                    b 3
                span(style="--i:4;")
                    b 4
                span(style="--i:5;")
                    b 5
                span(style="--i:6;")
                    b 6
                span(style="--i:7;")
                    b 7
                span(style="--i:8;")
                    b 8
                span(style="--i:9;")
                    b 9
                span(style="--i:10;")
                    b 10
                span(style="--i:11;")
                    b 11
                span(style="--i:12;")
                    b 12
            <!--    Analog clock end -->

            <!--    Digital clock start -->

                #time
                    #hour(style="--clr:#ff2972") 00
                    #minutes(style="--clr:#fee800") 00
                    #seconds(style="--clr:#04fc43") 00
                    #ampm AM

            <!--    Digital clock end -->

    script(src="js/main.js")
